<!DOCTYPE HTML>
<head>
    <title>태양 스프링 부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!--css reading -->
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
